# SPDX-FileCopyrightText: 2026 Jean-Pierre De Jesus DIAZ <me@jeandudey.tech>
# SPDX-License-Identifier: Apache-2.0 OR MIT

[submodule "stage0/src"]
	path = stage0/src
	url = https://github.com/oriansj/stage0-posix
[submodule "mes/src"]
	path = mes/src
	url = https://git.savannah.gnu.org/git/mes.git
[submodule "mes/nyacc"]
	path = mes/nyacc
	url = https://git.savannah.nongnu.org/git/nyacc.git
